# Ignorar node_modules
node_modules/

# Ignorar archivos de log
*.log
# Ignorar el archivo .env
.env

# Ignorar archivos de sistema de Mac
.DS_Store

# Ignorar archivos de sistema de Windows
Thumbs.db

.vscode/

.config/